/* Styles spécifiques à l'application */
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Styles des logos */
.logo {
  height: 6rem;
  width: auto;
  padding: 1rem;
  transition-property: transform;
  transition-duration: 300ms;
  will-change: filter;
}

.logo:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Autres styles spécifiques à l'application */
.read-the-docs {
  color: #6b7280;
  margin-top: 2rem;
}

@media (prefers-color-scheme: dark) {
  .read-the-docs {
    color: #9ca3af;
  }
}
